* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;

    position: relative; 
    height: 160px; 
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 160px;
    height: 160px;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 50px;
}

.links {
    position: absolute;
    left: 50%;
    /* Moves the element backwards by 50% of its own width. */
    transform: translateX(-50%);

    padding: 12px 36px;
    background-color: #ffffff;
    border: 4px solid #C0C9DB;
    border-radius: 24px;
}

.links ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.lists li {
    text-decoration: none;
}

.links ul li a {
    text-decoration: none;
    color: #121524;
}